<!-- #include tool-top gui/blocks/help-top.htm;image=blank;1; -->
</td>
  <td>
    <font size="+2"><b>%s <font color="$getVar(gui_html_highlight_colour)">%s</font> with %s</b></font>
  </td>
</tr>

<tr>
  <td>
    <b>%s</b> -
    %s -
    %s
  </td>
</tr>

<tr>
  <td align='center'>
    <zimg name="POP_PRG_ANALYSIS" border="0" src="%s">
  </td>
</tr>


<!--
<tr>
  <td>
    <a href="html.Hide pop_prg_analysis"><zimg border="0" src="delete_small.png"> Close this Window</a>
  </td>
</tr>
-->

<!-- #include tool-footer gui/blocks/tool-footer.htm;1; -->
