<font color=$getVar(gui_html_font_colour)  size=$getVar(gui_html_font_size) face="$getVar(gui_html_font_name)">
<html>
  <body link='$getVar(gui_html_link_colour)' bgcolor='$getVar(gui_html_highlight_colour)'>
    <table border="0" style="border-collapse: collapse" width="100%" id="#tool" cellpadding="1" cellspacing="1" >
      <tr>
        <td>
        </td>
        <td>
          <font size='4'>
            You are in <b><i>mode</i></b>
          </font>
          <font size='4'>
            <b><MODENAME></b><br>
          </font>
          <font size='3'>
             Press the <b>ESC</b> key to exit.
          </font>
        </td>
        <td align='right'>
          <zimg border="0" src="warning_big.png">
        </td>
      </tr>
    </table>
  </body>
</html>

</font>


<!--
<zimg border="0" src="pop_background.png">
-->